osp-model-description/src/main/resources/OspModelDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://opensimulationplatform.com/osp-is/OSPModelDescription"
           xmlns:osp="http://opensimulationplatform.com/osp-is/OSPModelDescription"
           version="1.0">
  <xs:include schemaLocation="fmi2Unit.xsd"/>

  <xs:element name="OspModelDescription" type="osp:OspModelDescriptionType"/>

  <xs:complexType name="UnitType">
    <xs:complexContent>
      <xs:extension base="osp:fmi2Unit"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnitDefinitionsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element type="osp:UnitType" name="Unit"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariableType">
    <xs:attribute type="xs:string" name="ref" use="required"/>
    <xs:attribute type="xs:string" name="unit"/>
  </xs:complexType>

  <xs:complexType name="ForceType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="TorqueType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VoltageType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="PressureType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearVelocityType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularVelocityType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="CurrentType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VolumeFlowRateType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearDisplacementType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularDisplacementType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ChargeType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VolumeType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearAccelerationType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularAccelerationType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearMechanicalPortType">
    <xs:sequence>
      <xs:element type="osp:ForceType" name="Force"/>
      <xs:element type="osp:LinearVelocityType" name="LinearVelocity"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularMechanicalPortType">
    <xs:sequence>
      <xs:element type="osp:TorqueType" name="Torque"/>
      <xs:element type="osp:AngularVelocityType" name="AngularVelocity"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ElectromagneticPortType">
    <xs:sequence>
      <xs:element type="osp:VoltageType" name="Voltage"/>
      <xs:element type="osp:CurrentType" name="Current"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="HydraulicPortType">
    <xs:sequence>
      <xs:element type="osp:PressureType" name="Pressure"/>
      <xs:element type="osp:VolumeFlowRateType" name="VolumeFlowRate"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearMechanicalQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:ForceType" name="Force"/>
      <xs:element type="osp:LinearDisplacementType" name="LinearDisplacement"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularMechanicalQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:TorqueType" name="Torque"/>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ElectromagneticQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:VoltageType" name="Voltage"/>
      <xs:element type="osp:ChargeType" name="Charge"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="HydraulicQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:PressureType" name="Pressure"/>
      <xs:element type="osp:VolumeType" name="Volume"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ElectricPowerType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="FrequencyType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaTimeType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaStatusType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGgaLatitudeLongitudeType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="4" maxOccurs="4"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGgaFixType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="7" maxOccurs="7"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGgaType">
    <xs:sequence>
      <xs:element type="osp:NmeaTimeType" name="NmeaTime"/>
      <xs:element type="osp:NmeaGgaLatitudeLongitudeType" name="NmeaGgaLatitudeLongitude"/>
      <xs:element type="osp:NmeaGgaFixType" name="NmeaGgaFix"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGstRmsType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGstEllipseType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="3" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGstPositionErrorType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="3" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaGstType">
    <xs:sequence>
      <xs:element type="osp:NmeaGstRmsType" name="NmeaGstRms"/>
      <xs:element type="osp:NmeaGstEllipseType" name="NmeaGstEllipse"/>
      <xs:element type="osp:NmeaGstPositionErrorType" name="NmeaGstPositionError"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaWindDirectionType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaWindSpeedType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="2" maxOccurs="2"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaMwvType">
    <xs:sequence>
      <xs:element type="osp:NmeaWindDirectionType" name="NmeaWindDirection"/>
      <xs:element type="osp:NmeaWindSpeedType" name="NmeaWindSpeed"/>
      <xs:element type="osp:NmeaStatusType" name="NmeaStatus"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaTrueHeadingType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaThsType">
    <xs:sequence>
      <xs:element type="osp:NmeaTrueHeadingType" name="NmeaTrueHeading"/>
      <xs:element type="osp:NmeaStatusType" name="NmeaStatus"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="NmeaSxnType">
    <xs:sequence>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement"/>
      <xs:element type="osp:NmeaStatusType" name="NmeaStatus"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="BatteryFeedbackType">
    <xs:sequence>
      <xs:element type="osp:ElectricPowerType" name="ElectricPower"/>
      <xs:element type="osp:VariableType" name="Variable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="GeneratorFeedbackType">
    <xs:sequence>
      <xs:element type="osp:ElectricPowerType" name="ElectricPower"/>
      <xs:element type="osp:VoltageType" name="Voltage"/>
      <xs:element type="osp:FrequencyType" name="Frequency"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="BusFeedbackType">
    <xs:sequence>
      <xs:element type="osp:ElectricPowerType" name="ElectricPower"/>
      <xs:element type="osp:VoltageType" name="Voltage"/>
      <xs:element type="osp:FrequencyType" name="Frequency"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ShaftSpeedType">
    <xs:complexContent>
      <xs:restriction base="osp:AngularVelocityType">
        <xs:sequence>
          <xs:element type="osp:VariableType" name="Variable"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AzimuthAngleType">
    <xs:complexContent>
      <xs:restriction base="osp:AngularDisplacementType">
        <xs:sequence>
          <xs:element type="osp:VariableType" name="Variable"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BladePitchType">
    <xs:complexContent>
      <xs:restriction base="osp:AngularDisplacementType">
        <xs:sequence>
          <xs:element type="osp:VariableType" name="Variable"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FixedThrusterSetpointType">
    <xs:sequence>
      <xs:element type="osp:ShaftSpeedType" name="ShaftSpeed" minOccurs="0"/>
      <xs:element type="osp:BladePitchType" name="BladePitch" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="FixedThrusterFeedbackType">
    <xs:sequence>
      <xs:element type="osp:ShaftSpeedType" name="ShaftSpeed" minOccurs="0"/>
      <xs:element type="osp:BladePitchType" name="BladePitch" minOccurs="0"/>
      <xs:element type="osp:ForceType" name="Force"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AzimuthThrusterSetpointType">
    <xs:sequence>
      <xs:element type="osp:ShaftSpeedType" name="ShaftSpeed" minOccurs="0"/>
      <xs:element type="osp:AzimuthAngleType" name="AzimuthAngle" minOccurs="0"/>
      <xs:element type="osp:BladePitchType" name="BladePitch" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AzimuthThrusterFeedbackType">
    <xs:sequence>
      <xs:element type="osp:ShaftSpeedType" name="ShaftSpeed" minOccurs="0"/>
      <xs:element type="osp:AzimuthAngleType" name="AzimuthAngle"/>
      <xs:element type="osp:BladePitchType" name="BladePitch" minOccurs="0"/>
      <xs:element type="osp:ForceType" name="Force"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="GenericType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:GenericType" name="Generic" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:ForceType" name="Force" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:TorqueType" name="Torque" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VoltageType" name="Voltage" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:PressureType" name="Pressure" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearVelocityType" name="LinearVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularVelocityType" name="AngularVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:CurrentType" name="Current" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeFlowRateType" name="VolumeFlowRate" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearDisplacementType" name="LinearDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ChargeType" name="Charge" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeType" name="Volume" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearAccelerationType" name="LinearAcceleration" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularAccelerationType" name="AngularAcceleration" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalPortType" name="LinearMechanicalPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalPortType" name="AngularMechanicalPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticPortType" name="ElectromagneticPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicPortType" name="HydraulicPort" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalQuasiPortType" name="LinearMechanicalQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalQuasiPortType" name="AngularMechanicalQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticQuasiPortType" name="ElectromagneticQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicQuasiPortType" name="HydraulicQuasiPort" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:ElectricPowerType" name="ElectricPower" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:FrequencyType" name="Frequency" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaTimeType" name="NmeaTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaStatusType" name="NmeaStatus" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGgaLatitudeLongitudeType" name="NmeaGgaLatitudeLongitude" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGgaFixType" name="NmeaGgaFix" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGgaType" name="NmeaGga" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstRmsType" name="NmeaGstRms" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstEllipseType" name="NmeaGstEllipse" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstPositionErrorType" name="NmeaGstPositionError" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstType" name="NmeaGst" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaWindDirectionType" name="NmeaWindDirection" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaWindSpeedType" name="NmeaWindSpeed" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaMwvType" name="NmeaMwv" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaTrueHeadingType" name="NmeaTrueHeading" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaThsType" name="NmeaThs" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaSxnType" name="NmeaSxn" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:BatteryFeedbackType" name="BatteryFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:GeneratorFeedbackType" name="GeneratorFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:BusFeedbackType" name="BusFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ShaftSpeedType" name="ShaftSpeed" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AzimuthAngleType" name="AzimuthAngle" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:BladePitchType" name="BladePitch" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:FixedThrusterSetpointType" name="FixedThrusterSetpoint" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:FixedThrusterFeedbackType" name="FixedThrusterFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AzimuthThrusterSetpointType" name="AzimuthThrusterSetpoint" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AzimuthThrusterFeedbackType" name="AzimuthThrusterFeedback" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VariableGroupsType">
    <xs:sequence>
      <xs:element type="osp:GenericType" name="Generic" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:ForceType" name="Force" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:TorqueType" name="Torque" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VoltageType" name="Voltage" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:PressureType" name="Pressure" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearVelocityType" name="LinearVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularVelocityType" name="AngularVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:CurrentType" name="Current" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeFlowRateType" name="VolumeFlowRate" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearDisplacementType" name="LinearDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ChargeType" name="Charge" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeType" name="Volume" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearAccelerationType" name="LinearAcceleration" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularAccelerationType" name="AngularAcceleration" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalPortType" name="LinearMechanicalPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalPortType" name="AngularMechanicalPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticPortType" name="ElectromagneticPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicPortType" name="HydraulicPort" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalQuasiPortType" name="LinearMechanicalQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalQuasiPortType" name="AngularMechanicalQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticQuasiPortType" name="ElectromagneticQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicQuasiPortType" name="HydraulicQuasiPort" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:ElectricPowerType" name="ElectricPower" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:FrequencyType" name="Frequency" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaTimeType" name="NmeaTime" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaStatusType" name="NmeaStatus" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGgaLatitudeLongitudeType" name="NmeaGgaLatitudeLongitude" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGgaFixType" name="NmeaGgaFix" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGgaType" name="NmeaGga" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstRmsType" name="NmeaGstRms" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstEllipseType" name="NmeaGstEllipse" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstPositionErrorType" name="NmeaGstPositionError" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaGstType" name="NmeaGst" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaWindDirectionType" name="NmeaWindDirection" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaWindSpeedType" name="NmeaWindSpeed" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaMwvType" name="NmeaMwv" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaTrueHeadingType" name="NmeaTrueHeading" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaThsType" name="NmeaThs" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:NmeaSxnType" name="NmeaSxn" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:BatteryFeedbackType" name="BatteryFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:GeneratorFeedbackType" name="GeneratorFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:BusFeedbackType" name="BusFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ShaftSpeedType" name="ShaftSpeed" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AzimuthAngleType" name="AzimuthAngle" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:BladePitchType" name="BladePitch" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:FixedThrusterSetpointType" name="FixedThrusterSetpoint" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:FixedThrusterFeedbackType" name="FixedThrusterFeedback" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AzimuthThrusterSetpointType" name="AzimuthThrusterSetpoint" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AzimuthThrusterFeedbackType" name="AzimuthThrusterFeedback" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OspModelDescriptionType">
    <xs:sequence>
      <xs:element type="osp:UnitDefinitionsType" name="UnitDefinitions" minOccurs="0"/>
      <xs:element type="osp:VariableGroupsType" name="VariableGroups" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required" fixed="1.0">
      <xs:annotation>
        <xs:documentation>OspModelDescription version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
