osp-model-description/src/main/resources/OspModelDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://opensimulationplatform.com/MSMI/OSPModelDescription"
           xmlns:osp="http://opensimulationplatform.com/MSMI/OSPModelDescription"
           version="0.1">
  <xs:include schemaLocation="fmi2Unit.xsd"/>

  <xs:element name="OspModelDescription" type="osp:OspModelDescriptionType"/>

  <xs:complexType name="UnitType">
    <xs:complexContent>
      <xs:extension base="osp:fmi2Unit"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnitDefinitionsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element type="osp:UnitType" name="Unit"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariableType">
    <xs:attribute type="xs:string" name="ref" use="required"/>
    <xs:attribute type="xs:string" name="unit"/>
  </xs:complexType>

  <xs:complexType name="ForceType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="TorqueType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VoltageType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="PressureType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearVelocityType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularVelocityType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="CurrentType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VolumeFlowRateType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearDisplacementType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularDisplacementType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ChargeType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VolumeType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" maxOccurs="3"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearMechanicalPortType">
    <xs:sequence>
      <xs:element type="osp:ForceType" name="Force"/>
      <xs:element type="osp:LinearVelocityType" name="LinearVelocity"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularMechanicalPortType">
    <xs:sequence>
      <xs:element type="osp:TorqueType" name="Torque"/>
      <xs:element type="osp:AngularVelocityType" name="AngularVelocity"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ElectromagneticPortType">
    <xs:sequence>
      <xs:element type="osp:VoltageType" name="Voltage"/>
      <xs:element type="osp:CurrentType" name="Current"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="HydraulicPortType">
    <xs:sequence>
      <xs:element type="osp:PressureType" name="Pressure"/>
      <xs:element type="osp:VolumeFlowRateType" name="VolumeFlowRate"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="LinearMechanicalQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:ForceType" name="Force"/>
      <xs:element type="osp:LinearDisplacementType" name="LinearDisplacement"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="AngularMechanicalQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:TorqueType" name="Torque"/>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ElectromagneticQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:VoltageType" name="Voltage"/>
      <xs:element type="osp:ChargeType" name="Charge"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="HydraulicQuasiPortType">
    <xs:sequence>
      <xs:element type="osp:PressureType" name="Pressure"/>
      <xs:element type="osp:VolumeType" name="Volume"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="GenericType">
    <xs:sequence>
      <xs:element type="osp:VariableType" name="Variable" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:GenericType" name="Generic" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:ForceType" name="Force" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:TorqueType" name="Torque" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VoltageType" name="Voltage" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:PressureType" name="Pressure" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearVelocityType" name="LinearVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularVelocityType" name="AngularVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:CurrentType" name="Current" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeFlowRateType" name="VolumeFlowRate" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearDisplacementType" name="LinearDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ChargeType" name="Charge" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeType" name="Volume" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalPortType" name="LinearMechanicalPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalPortType" name="AngularMechanicalPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticPortType" name="ElectromagneticPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicPortType" name="HydraulicPort" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalQuasiPortType" name="LinearMechanicalQuasiPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalQuasiPortType" name="AngularMechanicalQuasiPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticQuasiPortType" name="ElectromagneticQuasiPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicQuasiPortType" name="HydraulicQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="VariableGroupsType">
    <xs:sequence>
      <xs:element type="osp:GenericType" name="Generic" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:ForceType" name="Force" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:TorqueType" name="Torque" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VoltageType" name="Voltage" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:PressureType" name="Pressure" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearVelocityType" name="LinearVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularVelocityType" name="AngularVelocity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:CurrentType" name="Current" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeFlowRateType" name="VolumeFlowRate" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearDisplacementType" name="LinearDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularDisplacementType" name="AngularDisplacement" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:ChargeType" name="Charge" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:VolumeType" name="Volume" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalPortType" name="LinearMechanicalPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalPortType" name="AngularMechanicalPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticPortType" name="ElectromagneticPort" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicPortType" name="HydraulicPort" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element type="osp:LinearMechanicalQuasiPortType" name="LinearMechanicalQuasiPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:AngularMechanicalQuasiPortType" name="AngularMechanicalQuasiPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:ElectromagneticQuasiPortType" name="ElectromagneticQuasiPort" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element type="osp:HydraulicQuasiPortType" name="HydraulicQuasiPort" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OspModelDescriptionType">
    <xs:sequence>
      <xs:element type="osp:UnitDefinitionsType" name="UnitDefinitions" minOccurs="0"/>
      <xs:element type="osp:VariableGroupsType" name="VariableGroups"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required" fixed="0.1">
      <xs:annotation>
        <xs:documentation>OspModelDescription version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
